@page "/{root}/{*path}"
@model FileServerModel
@{
    ViewData["Title"] = "Home page";
}

<h3>@Model.Path</h3>

<ul class="listing">
@if (Model.FolderContent?.Entries != null)
{
    foreach(var foil in Model.FolderContent.Entries)
    {
        <li>
            @if(foil.Type == Models.FileEntryType.Folder)
            {
                <a href="@foil.Name/">@foil.Name</a>
            }
            else
            {
                <a class="file" href="@foil.Name" target="_blank">
                    @foil.Name
                </a>
            }
            
        </li>
    }
}
</ul>